.side-panel {
    /* Layout Properties */
    width: 260px;
    height: 682px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-left: 10%;
}

.sub-side-panel {
    margin-left: 10%;
}

.filters-sidepanel {
    margin-top: 5%;
    width: 55px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 18px/27px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.location-label {
    margin-top: 5%;
    text-align: left;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.select-location {
    /* UI Properties */
    margin-top: 5%;
    width: 208px;
    height: 35px;
    border: 1px solid #8C96AB;
    border-radius: 3px;
    text-align: left;
    font: normal normal normal 14px/21px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}

.cuisine-label {
    /* Layout Properties */
    margin-top: 10%;
    width: 52px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.cuisine-checkbox-label {
    /* Layout Properties */
    width: 200px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
    display: inline-block;
    vertical-align: 5px;
}

.cuisine-checkbox {
    /* Layout Properties */
    margin-top: 5%;
    width: 18px;
    height: 18px;
    /* UI Properties */
    border: 2px solid #3A5075;
    border-radius: 2px;
    opacity: 1;
    border-right: 5px;
    display: inline-block;
    border-right: 10px;
    margin-left: 0%;
}

.cost-label {
    /* Layout Properties */
    margin-top: 10%;
    width: 89px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.cost-radio-label {
    /* Layout Properties */
    margin-top: 5%;
    border-right: 10%;
    width: 200px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
    display: inline-block;
    vertical-align: 5px;
}

input[name="cost-filter"] {
    margin-top: 5%;
    width: 18px;
    height: 18px;
    text-align: left;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
    display: inline-block;
    margin-left: 0%;
}

.sort-label {
    /* Layout Properties */
    margin-top: 10%;
    width: 37px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 18px/27px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

input[name="sort-filter"] {
    margin-top: 5%;
    width: 18px;
    height: 18px;
    /* UI Properties */
    border: 2px solid #3A5075;
    border-radius: 9px;
    opacity: 1;
    margin-left: 0%;
}

.sort-radio-label {
    /* Layout Properties */
    width: 200px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/21px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
    display: inline-block;
    vertical-align: 5px;
}